spring:
  application:
    name: OneWave

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

# Gemini API 설정
gemini:
  api:
    key: ${GEMINI_API_KEY}
    model: gemini-1.5-flash
    temperature: 0.7
    max-tokens: 2000